{% extends 'base/base.html' %}

{% block title %} Create Homestay {% endblock %}

{% block content %}


    <h1>Create a New Homestay</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Tên homestay -->
        <label for="id_name">Tên homestay</label>
        {{ form.name }}
        <br>
        
        <!-- Thành phố -->
        <label for="id_city">Tỉnh / Thành phố</label>
        {{ form.city }}
        
        <br>

        <!-- Quận huyện -->
        <label for="id_district">Quận / Huyện</label>
        {{ form.district }}
        
        <br>

        <!-- Phường xã -->
        <label for="id_ward">Phường / Xã</label>
        {{ form.ward }}
        
        <br>

        <!-- Địa chỉ chi tiết -->
        <label for="id_address_detail">Địa chỉ chi tiết</label>
        {{ form.address }}
        
        <br>

        <!-- Mô tả -->
        <label for="id_description">Mô tả</label>
        {{ form.description }}
        
        <br>

        <!-- Giá -->
        <label for="id_price_per_night">Giá mỗi đêm</label>
        {{ form.price_per_night }}
        
        <br>

        <!-- Số lượng khách tối đa -->
        <label for="id_max_guests">Số lượng khách tối đa</label>
        {{ form.max_guests }}
        
        <br>

        <!-- trạng thái -->
        <label for="id_status">Trạng thái</label>
        {{ form.status }}

        <br>
        <!-- Ảnh homestay -->
        <label >Ảnh homestay</label>
        <input type="file" name="image" multiple>

        <br>
        <button type="submit">Create Homestay</button>
    </form>

    <script>

        const loadDistrictsUrl = "{% url 'ajax_load_districts' %}";
        const loadWardsUrl = "{% url 'ajax_load_wards' %}";

        document.getElementById("id_city").addEventListener("change", function () {
            const cityId = this.value;
            fetch(`${loadDistrictsUrl}?city=${cityId}`)
                .then(res => res.json())
                .then(data => {
                    let districtSelect = document.getElementById("id_district");
                    districtSelect.innerHTML = '<option value="">--- Chọn quận/huyện ---</option>';
                    data.forEach(d => {
                        districtSelect.innerHTML += `<option value="${d.id}">${d.name}</option>`;
                    });
                });
        });

        document.getElementById("id_district").addEventListener("change", function () {
            const districtId = this.value;
            fetch(`${loadWardsUrl}?district=${districtId}`)
                .then(res => res.json())
                .then(data => {
                    let wardSelect = document.getElementById("id_ward");
                    wardSelect.innerHTML = '<option value="">--- Chọn phường/xã ---</option>';
                    data.forEach(w => {
                        wardSelect.innerHTML += `<option value="${w.id}">${w.name}</option>`;
                    });
                });
        });                                                                         
    </script>

{% endblock %}





