{% extends 'base/base.html' %}
{% block title %} Confirm Delete Homestay {% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold underline">Xác nhận xóa phòng</h1>
    <p>Bạn có chắc chắn muốn xóa phòng "{{ room.room_name }}" không?</p>
    <form method="post" action="{% url 'delete_room' room.id %}">
        {% csrf_token %}
        <input type="password" name="password" id="password" placeholder="Nhập mật khẩu của bạn để xác nhận" required>
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a href="{% url 'my_homestay' %}" class="btn btn-secondary">Hủy</a>
    </form>
{% endblock %}